.StudentFillet {
  width: fit-content;
  .StudentFillet__container {
    /* Container styles */
  }
  .StudentFillet__mover {
    /* Mover styles */
  }
  .StudentFillet__sizer {
    /* Sizer styles */
  }

  .StudentFillet__content {
    display: flex;
    align-items: center;
    justify-content: center;

    .StudentFillet__id {
      margin-inline-start: 1.2rem;
    }
  }
}